<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/62062556-00ca-434c-9633-273ffd527150/resourceGroups/zottierWebjam/providers/Microsoft.Web/sites/zottier-api</ResourceId>
    <ResourceGroup>zottierWebjam</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://zottier-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ed8c43d5-dd03-4f64-8b05-615442ea2779</ProjectGuid>
    <PublishUrl>https://zottier-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$zottier-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>